<!DOCTYPE html>
<html>

<head>
    <title>TechTalent Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
</head>

<body>
    <div class = "container">
        <h1 class = "text-centre mt-2 mb-4">TechTalent Careers</h1>
        <img class = "img-fluid" id="banner" src = "static/banner.jpeg">
        <h2 class = "text-centre mt-2 mb-4">About TechTalent</h2>
        <p class="lead">
            Welcome to TechTalent Solutions - Your Premier IT Recruitment Partner!

            At TechTalent Solutions, we specialize in connecting exceptional tech
            talent with leading organizations across various industries. Our dedicated
            team of seasoned IT recruitment experts leverages their extensive industry
            knowledge and vast network to ensure your company finds the perfect match for
            your IT staffing needs.

            With years of experience in the field, we understand the unique challenges
            faced by businesses in sourcing and hiring top-notch IT professionals.
            Whether you're seeking skilled developers, experienced project managers, cybersecurity
            specialists, or IT support personnel, we have the expertise and resources to identify the
            right candidates who possess the skills, experience, and cultural fit that aligns with your
            organization's goals and values.
        </p>
        <h2 class = "text-centre mt-2 mb-4">Open Positions</h2>
        <p>
            {%for job in jobs%}
                {%include 'jobs.html'%}
            {%endfor%}
        </p>

        <div class="text-centre">
            <button class ="btn btn-primary btn-lg" >Contact Us</button>
            <p>Copyright 2023, TechTalent</p>
        </div>
    </div>

</body>

</html>